In [1]:
import os
import pandas as pd
import datetime

In [2]:
directory = '../data/milano'
lat = 45
long = 7.6

my_data=pd.DataFrame(columns=['date','PM10'])
my_data

Empty DataFrame
Columns: [date, PM10]
Index: []

In [3]:
# filename = '../data/milano/Gaggiano MI (CENTRO) (outside) (45.405127 9.035581) Primary 1440_minute_average 01_01_2018 10_22_2020.csv'
# with open(filename, 'r') as file_object :
#     my_data = my_data.append(pd.read_csv(file_object, usecols=[0,3], names=['date','PM10'],header=0))
# my_data['date'] = my_data['date'].apply(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S %Z').strftime("%d/%m/%Y"))
# my_data.dropna(axis='rows', inplace=True)
# my_data

In [4]:
for filename in os.listdir(directory):
    if filename.endswith(".csv") :
        #rint(os.path.join(directory, filename))
        # open file import relative colums and append to dataframe
        with open(os.path.join(directory, filename), 'r') as file_object :
            my_data = my_data.append(pd.read_csv(file_object, usecols=[0,3], names=['date','PM10'],header=0))
    else:
        continue
my_data['date'] = my_data['date'].apply(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S %Z').strftime("%d/%m/%Y"))
my_data.dropna(axis='rows', inplace=True)
my_data.info

<bound method DataFrame.info of            date    PM10
0    08/05/2019   82.61
1    08/05/2019   82.61
16   16/05/2019   52.90
17   16/05/2019   52.90
28   22/05/2019   14.29
..          ...     ...
936  20/10/2020  576.75
937  20/10/2020  576.75
938  21/10/2020  429.50
939  21/10/2020  429.50
940  22/10/2020  527.74

[10286 rows x 2 columns]>

In [5]:
my_data.groupby(by='date').mean()

                  PM10
date
01/01/2019  574.343333
01/01/2020  560.623000
01/02/2019  273.886667
01/02/2020  426.985000
01/03/2018  466.483333
...                ...
31/08/2020    9.362000
31/10/2018   71.766667
31/10/2019  124.350000
31/12/2018  359.030000
31/12/2019  357.646000

[971 rows x 1 columns]

In [9]:
def AQI_calc(x) :
    if float(x) <= 50 :
        return 'Good'
    elif float(x) <= 100 :
        return 'Moderate'
    elif float(x) <= 150 : 
        return 'USG'
    elif float(x) <= 200 :
        return 'Unhealthy'
    elif float(x) <= 300 :
        return 'Very Unhealthy'
    else :
        return 'Hazardous'

In [13]:
my_data['AQI']=0
my_data['AQI'] = my_data['PM10'].apply(lambda x : AQI_calc(x))
my_data

           date    PM10        AQI
0    08/05/2019   82.61   Moderate
1    08/05/2019   82.61   Moderate
16   16/05/2019   52.90   Moderate
17   16/05/2019   52.90   Moderate
28   22/05/2019   14.29       Good
..          ...     ...        ...
936  20/10/2020  576.75  Hazardous
937  20/10/2020  576.75  Hazardous
938  21/10/2020  429.50  Hazardous
939  21/10/2020  429.50  Hazardous
940  22/10/2020  527.74  Hazardous

[10286 rows x 3 columns]