## Merging Datasets

In [58]:
import pandas as pd
import datetime

In [2]:
file1 = '../data/concord.csv'
file2 = '../data/milano.csv'


with open(file1, 'r') as file_object :
    file1_df=pd.read_csv(file_object)
    
    
with open(file2, 'r') as file_object :
    file2_df=pd.read_csv(file_object)

In [3]:
my_data_conc = pd.concat([file1_df,file2_df])
my_data_conc.to_csv('../data/all_conc.csv')

In [4]:
my_data_merge = pd.merge(file1_df, file2_df, how='inner', on='date', suffixes=('_US', '_IT'))
my_data_merge['date'] =pd.to_datetime(my_data_merge.date)
my_data_merge.sort_values(by=['date'], inplace=True, ascending=False)
my_data_merge.to_csv('../data/all_merge.csv')

## Filtering Data

In [50]:
my_data_merge.head()

,date,PM10_US,AQI_US,lat_US,long_US,PM10_IT,AQI_IT,lat_IT,long_IT
date,,,,,,,,,
2020-12-10,2020-12-10,36.376724,Good,37,-122,28.409231,Good,45,7.6
2020-12-09,2020-12-09,976.935972,Hazardous,37,-122,121.658205,USG,45,7.6
2020-12-08,2020-12-08,24.129375,Good,37,-122,112.553871,USG,45,7.6
2020-12-07,2020-12-07,20.127500,Good,37,-122,30.790741,Good,45,7.6
2020-12-06,2020-12-06,23.126042,Good,37,-122,95.288519,Moderate,45,7.6

In [37]:
my_data_merge.set_index(my_data_merge['date'],inplace=True)

In [51]:
weekly_merge = my_data_merge.resample('W-MON').mean().dropna(axis='rows')

In [53]:
weekly_merge

               PM10_US  lat_US  long_US     PM10_IT  lat_IT  long_IT
date
2018-01-15   18.037865    37.0   -122.0  139.004029    45.0      7.6
2018-02-12   59.140594    37.0   -122.0  151.221263    45.0      7.6
2018-03-12  105.492983    37.0   -122.0  151.781557    45.0      7.6
2018-04-09   86.345000    37.0   -122.0   47.354286    45.0      7.6
2018-04-16   18.713229    37.0   -122.0  250.947801    45.0      7.6
...                ...     ...      ...         ...     ...      ...
2020-11-02   12.030545    37.0   -122.0  245.783261    45.0      7.6
2020-11-09  201.890375    37.0   -122.0   82.916740    45.0      7.6
2020-11-16   15.247963    37.0   -122.0   26.306410    45.0      7.6
2020-12-07   16.317175    37.0   -122.0  103.248371    45.0      7.6
2020-12-14  345.814024    37.0   -122.0   87.540436    45.0      7.6

[131 rows x 6 columns]

In [121]:
weekly_merge[datetime.datetime(2018,1,1):datetime.datetime(2019,1,1)]

               PM10_US  lat_US  long_US     PM10_IT  lat_IT  long_IT
date
2018-01-15   18.037865    37.0   -122.0  139.004029    45.0      7.6
2018-02-12   59.140594    37.0   -122.0  151.221263    45.0      7.6
2018-03-12  105.492983    37.0   -122.0  151.781557    45.0      7.6
2018-04-09   86.345000    37.0   -122.0   47.354286    45.0      7.6
2018-04-16   18.713229    37.0   -122.0  250.947801    45.0      7.6
2018-05-14   40.436016    37.0   -122.0  190.335895    45.0      7.6
2018-06-11   24.629479    37.0   -122.0  163.748905    45.0      7.6
2018-06-18   86.466389    37.0   -122.0  440.515263    45.0      7.6
2018-07-09   49.335417    37.0   -122.0   76.794286    45.0      7.6
2018-07-16  150.536319    37.0   -122.0  195.059574    45.0      7.6
2018-08-13  120.770965    37.0   -122.0  132.468370    45.0      7.6
2018-08-20  154.139286    37.0   -122.0   58.603878    45.0      7.6
2018-08-27  141.952500    37.0   -122.0   75.008980    45.0      7.6
2018-09-03   56.759583    37.0   -122.0   74.471071    45.0      7.6
2018-09-10   97.331736    37.0   -122.0  167.786603    45.0      7.6
2018-09-17   91.347872    37.0   -122.0  155.585432    45.0      7.6
2018-09-24   37.181607    37.0   -122.0  163.418571    45.0      7.6
2018-10-01   34.501771    37.0   -122.0   76.209667    45.0      7.6
2018-10-08  131.895000    37.0   -122.0   75.858571    45.0      7.6
2018-10-15  134.081530    37.0   -122.0  252.478757    45.0      7.6
2018-10-22   55.820982    37.0   -122.0  282.450095    45.0      7.6
2018-10-29   20.747411    37.0   -122.0  130.308762    45.0      7.6
2018-11-05    6.509375    37.0   -122.0   30.700000    45.0      7.6
2018-11-12  164.810688    37.0   -122.0  172.247173    45.0      7.6
2018-11-19  892.198788    37.0   -122.0  188.106466    45.0      7.6
2018-11-26  164.852423    37.0   -122.0  183.730677    45.0      7.6
2018-12-03   24.712522    37.0   -122.0  210.405132    45.0      7.6
2018-12-10   17.754097    37.0   -122.0  174.969348    45.0      7.6
2018-12-17  183.496237    37.0   -122.0  278.908271    45.0      7.6
2018-12-24   48.906518    37.0   -122.0  272.981253    45.0      7.6
2018-12-31   34.509031    37.0   -122.0  346.970762    45.0      7.6

In [76]:
weekly_merge[datetime.datetime(2018,1,1):datetime.datetime(2019,1,1)].to_csv('../data/2018_merge.csv')
weekly_merge[datetime.datetime(2019,1,1):datetime.datetime(2020,1,1)].to_csv('../data/2019_merge.csv')
weekly_merge[datetime.datetime(2020,1,1):datetime.datetime(2021,1,1)].to_csv('../data/2020_merge.csv')

In [80]:
weekly_with_NAN = my_data_merge.resample('W-MON').mean()

pandas.core.series.Series

In [107]:
ita_covid_weekly = pd.DataFrame(index=weekly_with_NAN.index, columns=['2019','2020'])
ita_covid_weekly['2020'] = weekly_with_NAN[datetime.datetime(2020,1,1):datetime.datetime(2021,1,1)]['PM10_IT']
ita_covid_weekly['2019'] = weekly_with_NAN[datetime.datetime(2019,1,1):datetime.datetime(2020,1,1)]['PM10_IT']
ita_covid_weekly = ita_covid_weekly.dropna(axis='rows',how='all')
ita_covid_weekly = ita_covid_weekly.reset_index()
ita_covid_weekly['date'] = ita_covid_weekly['date'].apply(lambda x : x.strftime("%d %b"))
ita_covid_weekly.set_index(ita_covid_weekly['date'],inplace=True)
ita_covid_weekly.to_csv('../data/covid_ita.csv')

In [109]:
cali_fires_weekly = pd.DataFrame(index=weekly_with_NAN.index, columns=['2019','2020'])
cali_fires_weekly['2020'] = weekly_with_NAN[datetime.datetime(2020,1,1):datetime.datetime(2021,1,1)]['PM10_US']
cali_fires_weekly['2019'] = weekly_with_NAN[datetime.datetime(2019,1,1):datetime.datetime(2020,1,1)]['PM10_US']
cali_fires_weekly = cali_fires_weekly.dropna(axis='rows',how='all')
cali_fires_weekly = cali_fires_weekly.reset_index()
cali_fires_weekly['date'] = cali_fires_weekly['date'].apply(lambda x : x.strftime("%d %b"))
cali_fires_weekly.set_index(cali_fires_weekly['date'],inplace=True)
cali_fires_weekly.to_csv('../data/fires_cali.csv')

## CalFire Data

In [142]:
my_data=pd.DataFrame()
with open('../data/calfire_data.csv', 'r') as file_object :
    my_data = my_data.append(pd.read_csv(file_object, usecols=[1,4], names=['acres','date'],header=0))

In [143]:
my_data['date'] =pd.to_datetime(my_data.date)
my_data.sort_values(by=['date'], inplace=True, ascending=False)
my_data.set_index(my_data['date'],inplace=True)
weekly_fires = my_data.resample('W-MON').sum()
fires_2020 = weekly_fires[datetime.datetime(2020,1,1):datetime.datetime(2021,1,1)]

In [144]:
air_cali_2020 = my_data_merge.resample('W-MON').mean().drop(['lat_US','long_US','PM10_IT','lat_IT','long_IT'], axis='columns')

In [147]:
air_cali_2020.merge(fires_2020,on='date').to_csv('../data/fires_and_air_cali.csv')